body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/bg3.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.body-home{
  font-family: 'Open Sans', sans-serif;  
  background-size: cover;
}


.eventBizPro {   
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
}

.eventBizPro > span {
  color: #E9AA09;
}

.header_logo div:last-child{
  font-size: 10px;
  line-height: 11px;
  font-weight: 100;
  width: 150px;
}

.header_logo{
  margin-top: 4px;
  margin-bottom: 2px;
  font-family: Roboto;
  letter-spacing: 0.035em;

  color: #FFFFFF;
  cursor: pointer;
}


main{
  display: flex;
  flex-direction: column;
  width: 100%; 
  color: #FCF3F3;  
}

.container-home{
  padding-top: 8%; 
  padding-left: 10%;
  padding-right: 10px;
  padding-bottom: 5.5%;
}

.main_home{
  color: #FCF3F3;
}

.main_home div h1{
  font-family: 'Open Sans Condensed';
  font-weight: 900;
  line-height: 45px;
  font-size: 42px;
  letter-spacing: 1px;
  color: #FCF3F3;
}

.underline{
  border-bottom: 2px solid #E9AA09;
}


.main_home div p{
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 18px;
  color: #FFFBFB;
}


.fa-check {
  color: #E9AA09;
  padding-right: 5px;
}

.main_home li{
  line-height: 30px;
}
.main_home ul{
  padding: 0;
  padding-bottom: 10px;
}


.btn-home {
text-align: center;
width: 260px;
  cursor: pointer;
  color: black;
  background: #E9AA09;
  line-height: 50px;
  height: 50px;
}

.btn-request{
  transition: all 0.5s;
  position: relative;
  border-radius: 6px;
  font-weight: bold;
  grid-column-start: 1;
}

.btn-request::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(255,255,255,0.1);
transition: all 0.3s;
}
.btn-request:hover::before {
opacity: 0 ;
transform: scale(0.5,0.5);
}
.btn-request::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border: 1px solid rgba(255,255,255,0.5);
transform: scale(1.2,1.2);
}
.btn-request:hover::after {
opacity: 1;
transform: scale(1,1);
}


/* Redes Sociais */
.circle-button{
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  background: #ccc;
  display: inline-block;
  font-size: 22px;
  border-radius: 50%;
  transition: all 0.2s ease;
  padding: 2px;
  display: inline;
}

.circle-button:hover{
  animation: circle-anim 0.3s ease forwards;
  transition: all 0.4s ease;
}

.grow-container{
  display: inline-block;
  margin: 10px;

}



.to-twitter:hover{
  background: #1DA1F3;
}

.to-facebook:hover{
  background: #3B5998;
}

.to-instagram:hover{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.to-youtube:hover{
  background: rgb(221, 42, 42);
}


@keyframes circle-anim{
  0% { 
  }
    
  90%{
      padding: 0.35em;
      margin: -0.35em; 
  }
    
  100%{
      padding: 0.25em;
      margin: -0.25em; 
  }
}

.box-3{
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 100px);
}

.flat-under{
  justify-self: center;
  grid-column-start: 3;
}


/* main_advantages */
.main_advantages{
  padding-top: 8%;
}

h2{
  font-family: 'Open Sans Condensed';
  font-weight: 800;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: 1px;
  color: #FCF3F3;
}

h2 ~ p:after{
  content: "";
  display: block;
  margin: 0 0;
  width: 100px;
  padding-top: 17px;
  border-bottom: 2px solid #fcac45;

}

.main_advantages p{
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 18px;
  color: #FFFBFB;
}

.grid_advantages{
  width: 70%;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 120px);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}

.grid_advantages h4{
  margin-bottom: 0px;
  margin-top: 10px;
}

.advantages_box1 {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-column-gap: 15px;
}
.advantages_box2 {
  grid-column: 2;
  grid-row: 1 ;
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-column-gap: 15px;
}
.advantages_box3 {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-column-gap: 15px;
}
.advantages_box4 {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-column-gap: 15px;
}

.img_advantages{
  grid-column: 1;

}

.description_advantages{
  grid-column: 2;

}

.description_advantages p{
  font-size: 15px;
  margin-top: 5px;
}

.img_advantages img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}



/* main reviews */

.main_reviews{
  padding-top: 40px;
}


/* Slideshow container */
.slideshow-reviews-container {
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.reviewsSlides {
  display: none;
}



.reviewsSlidesGrid{
  display: flex;
  flex-direction: row;
  padding: 30px 80px;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.reviews-p{
 font-weight: 100;
 padding: 20px;
}

.reviews-p div {
  font-weight: 400;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-end;
}

.review-img{
  width: 40%;
  padding: 0px 20px;
  height: auto;
}



/*  main_questions  */
.grey-background{
  background: rgba(22, 22, 22, 0.9);
}

.form-questions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-data{
  width: 270px;
  height: 40px;  
  margin-bottom: 6px;
  margin-top: 6px;
  border: 1px solid #999999;
  background: rgba(0, 0,0, 0.0);
  align-items: center;
  display: flex;
  flex-direction: row;
}

input{
  background: rgba(0, 0,0, 0.0);
  font-size: 16px;
  width: 180px;
  height: 30px;
  border: 0px;
  padding: 0 5px;
  color: white;
}

input:focus{
  outline: none !important;
}

.input-data i{
  padding: 10px 10px 10px 20px;  
  color: #999999;
}


.form-questions label{
  font-size: 10px;
}


/* main_cases */
.main_cases{
  padding-bottom: 50px;
  height: 500px;
}

.tabbed {
  width: 100%;
  margin: 50px auto;
  font-size: 14px;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: rgba(24, 24, 24, 0.8);
}

.tabs {
  clear: both;
  perspective: 600px;
}

.tabs > div {
  width: 90%;
  position: absolute;
  background: rgba(24, 24, 24, 0.9);
  border: 2px solid rgba(24, 24, 24, 0.8);
  /*padding: 10px 30px 40px;*/
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}


.wrapper-gallery{
  width: 90%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-grow: 20px;
}

.wrapper-gallery img{
  width: 30%;
}

.g-box, .g-box1{
  width: 50%;
}

.g-box1{
  display: flex;
  flex-direction: column;
}

.g-box2{
  display: flex;
  flex-direction: row;
}



/* map */
.map{
  width: 100%;
  height:100%;
}

.main_contacts{
  position:relative;
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
}

.contacts{
  position: absolute;
  top:10%;
  left:10%;
  width: 200px;
  height: auto;
  background: #131212;
  padding: 20px;
  
}

.logo{
  zoom: .8;
}

.contacts ul{
  font-size: 12px;
  padding: 5px;
  padding-left: 0px;
}

.contacts li i{
  color: #E9AA09;
  padding: 20px 10px 0px 10px;
}

.icons-contact{
  zoom: .6;
}

.contact-time{
  padding-left: 33px;
  padding-top: -3px;
}

footer a{
  color:white;
  padding: 10px 0;
  font-weight: 100;
  font-size: 16px;
}

footer a:hover{
  border-bottom: 1px solid #999999;
}

.fb1-1{
  display: flex;
  flex-direction: column;
}

.fb1-2{
  display: flex;
  flex-direction: row;
}

.fb1-2 div{
  display: flex;
  flex-direction: column;

}

.footer-box1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fb1-2 div{
  padding: 0 25px;
}

.fb-logo{
  padding-bottom: 1px;
}

.fb1-3{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 2000px){
  .news h1{
    padding-top: 10%;
  }
}

@media screen and (max-width: 1200px){
  
  .header_logo{
      margin-left: 5%;
  }

  .flat-under{
      justify-self: end;
  }

  .grid_advantages{
      width: 80%;
  }

  .news h1{
    padding-top: 10%;
  }
}

@media screen and (max-width: 1130px){
 

  .header_logo{
      margin-left: 4%;
  }

  .box-3{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 100px);
  }
  
  .flat-under{
      grid-column-start: 3;
  }
}

@media screen and (max-width: 1060px){
  
  .grid_advantages{
      width: 85%;
      padding: 50px 0;
  }

  .input-data{
      width: 220px;
      height: 40px;  
  }  
}

@media screen and (max-width: 915px){

  .container-home{
    padding-top: 12%; 
  }

  .header_logo{
      margin-left: 10%;
  }


  .box-3{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 100px);
  }
  
  .flat-under{
      grid-column-start: 2;    
  }

  .grid_advantages{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 30px;
  }

  div[class*=advantages_box]{
      padding-top: 30px;
  }


  .reviewsSlidesGrid{
      flex-direction: column-reverse;
  }

  .review-img{
      width: 80%;
  }

  
  .input-data{
      width: 300px;
      height: 40px;  
  }

  .form-questions{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 50px;
  }

  .btn-wrapp{
      padding-top: 10px;
  }

  .footer-box1{
      flex-direction: column;
  }
}


@media screen and (max-width: 720px){
  
  .container-home{
    padding-top: 15%; 
  }

  .box-3{
      display: flex;
      flex-direction: column; 
      align-items: center;
  }

  .grid_advantages{
      display: inline;
  }

  .flat-under{
      padding-top: 15px;
  }
  
  .contacts{
      position: inherit;
      top:0;
      left:0;
      width: 100%;
      height: auto;
      background: #131212;
      padding: 20px;
      display: flex;   
      flex-direction: column;
      align-items: center;     
  }

  .header_logo{
      margin-left: 0%;
  }

  .news h1{
    padding-top: 15%;
  }
}

@media screen and (max-width: 500px){
  .container{
      padding: 5% 0; 
      padding-left: 10px;
      padding-right: 8px;
  }

  .container-home{
    padding-top: 25%; 

  }

  .news h1{
    padding-top: 23%;
  }
}






.bgSign {
  
  width: 100%;
  height: auto;
}


.bgSignInForm {
  background:rgba(205, 214, 219, 0.9);
  margin-top: 10%;
  padding: 60px;
}

.bgSignInForm h1{
  line-height: 70px
}



.textSign{
  color: #666666;
  margin-top: 10px;
  margin-left: 30px;
}


.container-news{
  margin: 5%;
}

.news{
  height: 100%;
 
}

.news h1{
  color: rgb(233, 231, 231);
  text-align: center;
  width: 900;
  line-height: 60px;
  border-bottom: 3px solid rgb(231, 230, 230);
}

#btn-sign {
  margin-left: 30px;
}

#card{
  margin: 5% 0px;
}


.txt{
  color: rgba(255, 255, 255, 0.85);
  text-align: center; 
  padding: 5px 14px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
}

.txt:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.navWrapp{
  padding: 0 5% ;
}

.fixed-top{
  background: rgba(2, 2, 2, 0.95);
}